.paginator__button, .paginator__button-active {
    background-color: #F5F8FA;
    padding: 10px;
    border: 2px solid #F5F8FA;
    border-radius: 6px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator__button:hover {
    border-color: var(--accent-color);
}

.paginator__button-active {
    border-color: var(--accent-color);
}